//  Breakpoints

$screen-sm: 36em; //576px Large smartphones
$screen-md: 48em; //768px Small tablets
$screen-lg: 62em; //992px Tablets
$screen-xl: 75em; //1200px Desktops
$screen-xxl: 87.5em; //1400px Large desktops

//Primary colors

$color__yellow: hsl(50, 91%, 52%);
$color__green: hsl(160, 13%, 33%);
$color__white: hsl(0, 0%, 100%);
$color__black: hsl(0, 0%, 0%);
